.wrapper {
    color: #FFFFFF;
    overflow: hidden;
}
.notFound {
    padding: 1px;
}
.notFound__content {
    margin-top: 10%;

}
.notFound__contentHeadline {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    background-image: linear-gradient(0deg, rgba(224, 195, 26, 0.897) 0%, rgba(164,122,30,1) 0%, rgba(211,168,76,1) 25%, rgba(211,168,76,1) 43%, rgba(230,190,105,1) 60%, rgba(255,216,124,1) 75%, rgba(181,143,62,1) 84%, rgba(181,143,62,1) 96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: 0.3s;
    font-size: 60px; 
    max-width: 80%;
    margin: 10% auto 25px auto;
    text-align: center;
}
.notFound__contentItemBtnWrapper {
    display: flex;
    justify-content: center;
}
.notFound__contentItemBtn {
    background: linear-gradient(0deg, rgba(255,119,0,0.8968837535014006) 0%, rgba(164,122,30,1) 0%, rgba(255,216,124,1) 100%);
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    margin-top: 5px;
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    outline: none;
}
.notFound__contentItemBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}
@media screen and (max-width: 975px) {
    .notFound__contentHeadline {
        font-size: 48px;
        margin: 20% auto 25px auto;
    }
}
@media screen and (max-width: 520px) {
    .notFound__contentHeadline {
        font-size: 34px;
        margin: 35% auto 25px auto;
    }
}
@media screen and (max-width: 345px) {
    .notFound__contentHeadline {
        font-size: 24px;
        margin: 45% auto 25px auto;
    }
}
